:root {
  --color-primary:  #ff4c68;
}

body{
  font-family: "Montserrat";
  text-align: center;
}


h1 {
  font-family: "Montserrat";
}
#title {
  background-color: var(--color-primary);
  color: #fff;
  text-align: left;
}

#title .container-fluid {
  padding: 3% 15% 7%
}

.big-heading{
  font-family: "Montserrat-Black";
  font-size: 3.5rem;
  line-height: 1.5;
}
.navbar{
  padding:0 0 4.5rem;
}
.navbar-brand {
  font-family: "Ubuntu";
  font-size: 3.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1,2rem;
  font-family: "Montserrat-Light";
}

.colored-section {
  background-color: var(--color-primary);
  color: #fff;
}

.container-fluid {
  padding: 7% 15%;;
}

#features {
  background-color: #fff;
  color: #000;
  height: 15em;
}

#featureTitle {
  color: var(--color-primary);
}

#features>.container>.row {
  padding: 2em;
}

#testimonials {
  background-color: var(--color-primary);
  height: 30em;
}

#testimonialTextContainer {
  display: flex;
  height: 14.3em;
  background-color: white;
  border-radius: 1.5em 1.5em 0 1.5em;
  margin-right: 2em;
}

#testimonialText {
  width: 14em;
  font-style: italic;
  font-weight: 450;
}

#dogImg {
  max-width: 100%;
  display: flex;
  
}

#nameLocation {
  color: white;
  text-align: center;
  padding-top: 2em;
}

.title-image{
  width: 60%;
  transform: rotate(15deg);
  position: relative;
  left: 10%;
}

.download-button {
  margin: 5% 3% 5% 0;
}

#features{
  position: relative;
}

#press>.container>.row {
  padding: 0 2;
  /* align-content: center;
  justify-content: center; */
}

#logoRow {
  align-content: center;
}

#logoRow>div>img {
  justify-content: center;
  align-self: center;  
}

.pressLogo {
  max-width: 95%;
  display: inline;
  padding: 1.5em;
}

#pricing {
  background-color: var(--color-primary);
  color: #fff;
}

#ctaText {
  display: block;
  height: max-content;
}
